.student-summary {
    width: 100%;
    .info-summary {
      display: flex;
      flex-wrap: wrap;
    }
  a{
    margin: 1rem;
    
  }
  }
  
  .card {
    border: 1px solid #ccc;
    // border-bottom: 3px solid var(--light-blue);
    padding: 5px;
    background-color: #f5f6fa;
  }
  
  .card1 {
    background-color: #a719ee;
  }
  .card2 {
    background-color: #53a85d;
  }
  .card3 {
    background-color: #cd2f5b;
  }
  .card4 {
    background-color: #03a5fc;
  }
  .card5 {
    background-color: #aaaa27;
  }